main#main-section div#share-box {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
}

main#main-section div#share-box div#button-box {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#share-box div#button-box .fas {
    font-size: 18px;
}

main#main-section div#share-box div#button-box button {
    background: #fff;
    border: 0;
    color: #696c6f;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 26px 26.5px;
    cursor: pointer;
}

main#main-section div#share-box div#button-box button#btn-post {
    width: 100%;
    text-align: left;
    padding: 26px 17px;
}

main#main-section div#share-box div#button-box button#btn-post:hover {
    color: #d11124;
}

main#main-section div#share-box div#button-box button#btn-post:hover span#btn-text {
    text-decoration: underline;
}

main#main-section div#share-box div#button-box button#btn-post span#btn-text {
    font-size: 16px;
    font-weight: bold;
    padding-left: 6px;
}

main#main-section div#share-box div#button-box button#btn-document {
    border-right: 0;
    padding: 26px 30px;
}

main#main-section div#share-box div#button-box button#btn-picture:hover,
main#main-section div#share-box div#button-box button#btn-video:hover,
main#main-section div#share-box div#button-box button#btn-document:hover {
    background: #f3f6f8;
}

main#main-section div#link-box {
    padding: 13px 16px;
    background: #f3f6f8;
    font-size: 14px;
}

main#main-section div#link-box a {
    color: #696c6f;
    font-weight: bold;
    padding-right: 1px;
}

main#main-section div#link-box a:hover {
    text-decoration: underline;
    color: #d11124;
}

main#main-section div#feed-sort {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

main#main-section div#feed-sort hr {
    flex: 1;
    border: 0;
    display: block;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#feed-sort button {
    border: 0;
    background: transparent;
    margin-left: 15px;
    padding-bottom: 4px;
    cursor: pointer;
}

main#main-section div#feed-sort button span {
    color: rgba(0, 0, 0, 0.6);
}

main#main-section div#feed-sort button span.fas {
    font-size: 18px;
    padding: 0 2px;
}


/**************************************************************************
    main container > main section > FEED POSTS
**************************************************************************/

.action-button {
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    background: white;
    border: 1px solid #d11124;
    color: #d11124;
    padding: 12px 5px;
    margin: 10px 10px 10px 650px;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#more {
    margin: 10px 10px 10px 370px;
}

.action-button:hover,
.action-button:focus {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.2);
}

main#main-section article {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-bottom: 8px;
}

main#main-section article div#post-author {
    display: flex;
    padding: 14px 14px 0;
    margin-top: 10px;
}

main#main-section article div#post-author a {
    flex: 1;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

main#main-section article div#post-author>div {
    cursor: pointer;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main#main-section article div#post-author>div:hover {
    background: #e6ae9a;
}

main#main-section article div#post-author>div>span {
    padding: 2px;
    font-size: 4px;
}

main#main-section article div#post-author a>div {
    display: flex;
}

main#main-section article div#post-author a>div img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid transparent #d11124;
    margin-right: 6px;
}

main#main-section article div#post-author a>div>div {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

main#main-section article div#post-author a>div>div>span {
    line-height: 10px;
    margin-top: 4px;
    margin-left: 1px;
}

main#main-section article div#post-author a>div>div div strong {
    color: #000;
    font-size: 15px;
}

main#main-section article div#post-author a>div>div div strong:hover {
    color: #d11124;
    text-decoration: underline;
}

main#main-section article div#post-author a>div>div div span span {
    font-size: 14px;
    font-weight: bold;
}

main#main-section article div#post-data p {
    padding: 8px 14px;
}

main#main-section article div#post-data img {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #e6e9ec;
    border-top: 1px solid #e6e9ec;
}

main#main-section article div#interactions-amount {
    margin: 7px 16px;
    border-bottom: 1px solid #e6e9ec;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

main#main-section article div#interactions-amount span.fas {
    font-size: 16px;
    padding: 3px;
    margin-right: 3px;
    border-radius: 50%;
    color: #f3f6f8;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3), -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

main#main-section article div#interactions-btns {
    margin: 4px 10px;
    display: flex;
}

main#main-section article div#interactions-btns button {
    border: 0;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 16px;
    padding: 2px 5px;
    height: 33px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

main#main-section article div#interactions-btns button:hover {
    background: white;
    color: rgba(231, 76, 60, 0.8);
}

main#main-section article div#interactions-btns button span.far {
    font-size: 30px;
    margin-right: 5px;
}